# === Environnements Python et caches ===
venv/
__pycache__/
*.py[cod]

# === Clés secrètes ===
.env

# === Données lourdes ===
*.dcm
*.jpg
*.jpeg

*.zip
*.npy
*.pt
*.pth
*.faiss
*.csv

# === Dossiers contenant des images ou des données ===
data/images/
data/test_jpg/
data/query_temp/
data/stage_2_train_images/
data/stage_2_test_images/

# === Fichiers FAISS ===
data/index.faiss
data/index_test.faiss

# === Métadonnées générées automatiquement ===
data/metadata.json
data/metadata_test.json

# === Archives et téléversements ===
*.tar.gz
*.tar
*.7z
*.rar
data/rsna-pneumonia-detection-challenge.zip
